/* Navigation */
#navbar{
    flex-direction:column;
}

/* #navbar img{
    flex-direction: column;
    text-align: center;
    justify-content: center;
} */

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home Section  */
#home{
    height: 450px;
    padding: 3px 68px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}
/* Services Section  */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px 0px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

#services .box img{
    height: auto;
    width: 180px;
    margin: auto;
    display: block;
}
/* Clients section  */

#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 50px;
    padding: 10px 3px;
    height: auto;
}

/* Contact Section  */

#contact-box form{
    width: 70%;
}

/* Footer Section  */


/* utility section  */

.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 14px;
    padding: 4px 8px;
    height: 25px;
}

.blank{
    margin: 50px;
}

